.table-container {
    /* overflow-x: auto; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.time-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
}

.time-slot-header,
.day-header {
    background-color: #004466;
    color: white;
    padding: 0.2em;
    border-inline: thin solid #ddd;
}

.time-slot {
    background-color: #f1f4f8;
    font-weight: bold;
    font-size: 0.9em;
    padding: 0.2em;
    border: thin solid #ddd;
    width: 14.2857%;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time-slot-cover {
    position: absolute;
    
    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    transition: ease 0.1s;
}

.time-slot-cover:hover {
    border: 0.2em solid rgb(44, 0, 85) !important;
}

.time-slot-cover.selected-time-slot-cell {
    background: rgba(11, 190, 255, 0.42) !important;
    border: thin solid rgb(44, 0, 85) !important;
}

.disabled-slot, .occupied-slot, .available-slot {
    position: relative;

    width: 14.2857%;
    border: thin solid #ddd;
    user-select: none;

    cursor: pointer;


}

.disabled-slot:hover, .occupied-slot:hover, .available-slot:hover {
    /* outline: 0.2em solid rgb(44, 0, 85) !important;
    border: 0.2em solid rgb(44, 0, 85) !important; */
}

.disabled-slot {
    background-color: rgba(170, 170, 170, 0.7);
}

.occupied-slot {
    background-color: rgba(255, 0, 0, 0.7);
}

.available-slot {
    background-color: rgba(12, 249, 0, 0.623);
}
